body{
    margin: 0;
}
.one{
    margin: 5rem;
    width: 800px;
    /* height: 500px; */
    padding: 10px;
    color: #dcd1d1;
    font-size: 14px;
    background-image:repeating-radial-gradient(rgba(255, 0, 0, 0.632),rgba(0, 0, 255, 0.412)) ,url(images/Screenshot_2.jpg);
    /* background-repeat: no-repeat; */
    background-size:cover ;
    background-position: center center;
    border: 30px teal groove ;
    background-clip:border-box;
}
